/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@font-face {
    font-family: Myriad;
    src: url("../assets/fonts/Myriad/Myriad.otf");
}
/* ========== End Fonts ========== */

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Myriad;
    display: block;
}

:root {
    --clr-primary: #F08431;
    --clr-secondary: #233450;
    --clr-text-black: #000;
    --clr-text-white: #fff;
    --clr-hr: #F08431;
    --clr-secondary-background: #9C9C9C;
}

/* ========== Global Styling ========== */
section {
    margin-top: 50px;
}

.title {
    font-family: 'Cabin', sans-serif;
    color: var(--clr-text-black);
    font-size: 28px;
}

.sub-title {
    font-family: Myriad;
    color: var(--clr-text-black);
    font-size: 16px;
}

hr {
    display: inline-block;
    border-top: 3px solid var(--clr-hr) !important;
    width: 20%;
}

.cta {
    cursor: pointer;
    padding: 0.4rem 1.5rem !important;
    width: 100px;
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    background-color: transparent;
    color: var(--clr-primary);
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: var(--clr-primary);
    color: var(--clr-text-white);
    text-decoration: none;
}
/* ========== End Global Styling ========== */

/* ========== Styling ========== */
/* Jumbotron */
.jumbotron {
    background-image: url('../assets/img/background-jumbotron.png');
    background-size: cover;
}

.display-4 {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: var(--clr-text-white);
    line-height: 3px;
}

.jumbotron hr {
    width: 140px;
}
/* Jumbotron */

/* About Arsimekon */
.about-arsimekon {
    text-align: center;
    padding: 40px;
}

.about-arsimekon img {
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
/* About Arsimekon */

/* Visi & Misi Arsimekon */
.visi {
    background-color: var(--clr-primary);
    padding: 20px;
}

.visi-heading {
    display: block;
    top: 0;
}

.visi img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -130px;
    margin-bottom: 30px;
}

.misi {
    margin-top: 30px;
}

.misi-heading {
    display: block;
}

.misi img {
    display: block;
    border-radius: 10px;
}
/* Visi & Misi Arsimekon */


/* Button Back */
.button-back {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Button Back */

/* ===== Responsive ===== */
@media (min-width: 576px) {
    .visi img {
        margin-top: -170px;
    }
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 42px;
    }

    .jumbotron hr {
        width: 165px;
    }

    .visi img {
        margin-top: -130px;
    }
}

@media (min-width: 992px) {
    .display-4 {
        font-size: 50px;
        line-height: 10px;
    }

    .jumbotron hr {
        width: 190px;
    }

    .visi img {
        margin-top: -130px;
        margin-bottom: -22px;
    }

    .visi-heading {
        top: 200px;
    }
}

@media (min-width: 1200px) {
    .display-4 {
        font-size: 60px;
        line-height: 15px;
    }

    .jumbotron hr {
        width: 235px;
    }

    p {
        font-size: 20px;
    }

    .visi img {
        position: absolute;
        top: -18px;
        width: 80%;
    }
}
/* ========== End Styling ========== */