/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@font-face {
    font-family: Myriad;
    src: url("../assets/fonts/Myriad/Myriad.otf");
}
/* ========== End Fonts ========== */

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Myriad;
    display: block;
}

:root {
    --clr-primary: #F08431;
    --clr-secondary: #233450;
    --clr-text-black: #000;
    --clr-text-white: #fff;
    --clr-hr: #F08431;
    --clr-secondary-background: #9C9C9C;
}

/* ========== Global Styling ========== */
.jumbotron .logo img {
    width: 320px;
}

section {
    margin-top: 50px;
}

.title {
    font-family: 'Cabin', sans-serif;
    color: var(--clr-text-black);
    font-size: 28px;
}

.sub-title {
    font-family: Myriad;
    color: var(--clr-text-black);
    font-size: 16px;
}

hr {
    display: inline-block;
    border-top: 3px solid var(--clr-hr) !important;
    width: 20%;
}

.cta {
    cursor: pointer;
    padding: 0.4rem 1.5rem !important;
    width: 100px;
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    background-color: transparent;
    color: var(--clr-primary);
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: var(--clr-primary);
    color: var(--clr-text-white);
    text-decoration: none;
}

.yellow-title {
    color: var(--clr-primary);
    font-weight: 700;
    font-family: 'Cabin', sans-serif;
}

.yellow-button {
    color: var(--clr-text-white);
    font-weight: 700;
    font-family: Myriad;
    background-color: var(--clr-primary);
    padding: 0.4rem 1.5rem;
    border-radius: 5px;
}

.yellow-button:hover {
    color: var(--clr-secondary);
    text-decoration: none;
}

.trigger {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-text-white);
}
/* ========== End Global Styling ========== */

/* ========== Styling ========== */
/* Jumbotron */
.jumbotron {
    background-image: url('../assets/img/background-jumbotron.png');
    background-size: cover;
    background-position: center;
    margin-top: -15px;
    z-index: 1;
    position: relative;
}

.jumbotron:after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background: #233450;
    opacity: 0.7;
    position: absolute;
    top: 0;
}

.logo {
    position: relative;
    z-index: 1;
}
/* Jumbotron */

/* Hotel */
.hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/hotel.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}

.hotel .trigger {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-text-white);
}
/* Hotel */

/* Theater */
.theater {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/theater.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.theater .trigger {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-text-white);
}
/* Theater */

/* Office */
.office {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/office.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Office */

/* Mall */
.mall {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/mall.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
/* Mall */

/* Factory */
.factory {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/factory.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}
/* Factory */

/* Public Facility */
.public-facility {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/public-facility.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Public Facility */

/* Apartments */
.apartments {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/apartments.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.apartments .trigger {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-text-white);
}

.others {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/other.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Apartments */

/* Footer */
.footer {
    margin-top: 80px;
    background-color: var(--clr-secondary);
    text-align: center;
    padding: 40px;
}

.footer .logo {
    padding: 20px;
}

.footer h5 {
    color: var(--clr-text-white);
    font-weight: 700;
    font-size: 16px;
}

.footer p {
    font-size: 12px;
}

.logo-text {
    color: var(--clr-text-white);
    font-weight: 700;
}
/* Footer */

/* Button Back */
.button-back {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Button Back */

@media (min-width: 576px) {
    .jumbotron .logo img {
        width: 420px;
    }

    .hotel .trigger {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    .theater .trigger {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    .apartments .trigger {
        text-align: center;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }
}

@media (min-width: 768px) {
    .jumbotron .logo img {
        width: 470px;
    }

    .theater {
        margin-top: 80px;
    }

    .office {
        margin-top: -20px;
    }

    .mall {
        margin-top: -23px;
    }

    .factory {
        margin-top: -20px;
    }

    .public-facility {
        margin-top: -20px;
    }

    .apartments {
        margin-top: -50px;
    }

    .others {
        margin-top: -50px;
    }

    .hotel .trigger {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    .theater .trigger {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    .apartments .trigger {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    .others .trigger {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }
}

@media (min-width: 992px) {
    .jumbotron .logo img {
        width: 590px;
    }
}

@media (min-width: 1200px) {
    .jumbotron .logo img {
        width: 640px;
    }
}
/* ========== Styling ========== */