/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@font-face {
    font-family: Myriad;
    src: url("../assets/fonts/Myriad/Myriad.otf");
}
/* ========== End Fonts ========== */

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Myriad;
    display: block;
}

:root {
    --clr-primary: #F08431;
    --clr-secondary: #233450;
    --clr-text-black: #000;
    --clr-text-white: #fff;
    --clr-hr: #F08431;
    --clr-secondary-background: #9C9C9C;
}

/* ========== Global Styling ========== */
section {
    margin-top: 50px;
}

.title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: var(--clr-text-black);
    font-size: 36px;
}

.sub-title {
    font-family: Myriad;
    color: var(--clr-text-black);
    font-size: 16px;
}

hr {
    display: inline-block;
    border-top: 3px solid var(--clr-hr) !important;
    width: 20%;
}

.cta {
    cursor: pointer;
    padding: 0.4rem 1.5rem !important;
    width: 100px;
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    background-color: transparent;
    color: var(--clr-primary);
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: var(--clr-primary);
    color: var(--clr-text-white);
    text-decoration: none;
}
/* ========== End Global Styling ========== */

/* ========== Styling ========== */
/* Jumbotron */
.jumbotron {
    background-image: url('../assets/img/productAndServices/background-jumbotron.png');
    background-size: cover;
}

.display-4 {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: var(--clr-secondary);
    line-height: 3px;
}

.jumbotron hr {
    width: 280px;
}
/* Jumbotron */

/* Body */
.hvac .caption {
    margin-bottom: 30px;
    text-align: center;
}

.hvac img {
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.plumbing .caption {
    margin-top: 30px;
    text-align: center;
}

.plumbing img {
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.fire-fighting .caption {
    margin-bottom: 30px;
    text-align: center;
}

.fire-fighting img {
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.electrical .caption {
    margin-top: 30px;
    text-align: center;
}

.electrical img {
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.electronics .caption {
    margin-bottom: 30px;
    text-align: center;
}

.electronics img {
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.specific-system .caption {
    margin-top: 30px;
    text-align: center;
}

.specific-system img {
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.hero-text {
    background: rgba(11, 35, 74, 1);
    opacity: 0.7;
    padding: 1rem 4rem;
    position: absolute;
    top: 267px;
    font-size: 14px;
    color: white;
}

.it-products .caption {
    margin-top: 30px;
    text-align: center;
}

.it-products img {
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.hotel-equipment .caption {
    margin-bottom: 30px;
    text-align: center;
}

.hotel-equipment img {
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
/* Body */


/* Other Services */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/productAndServices/image-7.png");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    margin-bottom: 80px;
}
/* Other Services */

/* Button Back */
.button-back {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Button Back */

/* ===== Responsive ===== */
@media (min-width: 768px) {
    .display-4 {
        font-size: 42px;
        line-height: 10px;
    }

    .jumbotron hr {
        width: 320px;
    }

    .hvac .caption {
        display: block;
        top: 40px;
    }

    .hvac img {
        width: 100%;
    }

    .plumbing .caption {
        display: block;
        top: 30px;
    }

    .plumbing img {
        width: 100%;
    }

    .fire-fighting .caption {
        display: block;
        top: 30px;
    }

    .fire-fighting img {
        width: 100%;
    }

    .electrical .caption {
        display: block;
        top: -5px;
    }

    .electrical img {
        width: 100%;
    }

    .electronics .caption {
        display: block;
        top: 20px;
    }

    .electronics img {
        width: 100%;
    }

    .specific-system .caption {
        display: block;
        top: 25px;
    }

    .specific-system img {
        width: 100%;
    }

    .it-products .caption {
        display: block;
        top: 20px;
    }

    .it-products img {
        width: 100%;
    }

    .hotel-equipment .caption {
        display: block;
        top: 40px;
    }

    .hotel-equipment img {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .display-4 {
        font-size: 50px;
    }

    .jumbotron hr {
        width: 380px;
    }

    .hvac .caption {
        display: block;
        top: 80px;
    }

    .plumbing .caption {
        display: block;
        top: 60px;
    }

    .fire-fighting .caption {
        display: block;
        top: 80px;
    }

    .electrical .caption {
        display: block;
        top: 40px;
    }

    .electronics .caption {
        display: block;
        top: 60px;
    }

    .specific-system .caption {
        display: block;
        top: 70px;
    }

    .it-products .caption {
        display: block;
        top: 70px;
    }

    .hotel-equipment .caption {
        display: block;
        top: 90px;
    }
}

@media (min-width: 1200px) {
    p {
        font-size: 20px;
    }

    .display-4 {
        font-size: 60px;
        line-height: 20px;
    }

    .jumbotron hr {
        width: 460px;
    }

    .hvac .caption {
        top: 90px;
    }

    .plumbing .caption {
        top: 90px;
    }

    .fire-fighting .caption {
        top: 100px;
    }

    .electrical .caption {
        top: 70px;
    }

    .electronics .caption {
        top: 90px;
    }

    .specific-system .caption {
        top: 90px;
    }

    .hero-text {
        top: 290px;
    }

    .hero-text .desc {
        font-size: 26px;
    }

    .it-products .caption {
        top: 80px;
    }

    .hotel-equipment .caption {
        top: 110px;
    }
}
/* ========== Styling ========== */